.titulo {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;

}

body{
    font-size: 16px;
}
p {
    font-weight: 600;
    font-size: 48px;
}

/* .lista{
    background-color: rgb(240, 217, 116);
} */

.cordefundo{
    background-color: darksalmon;
}